In [219]:
import pandas as pd

In [220]:
table = pd.DataFrame({
    'name': ['lijh', 'lanmei', 'wangxiaoyuan'],
    'age': [24, 25, 25]
})

In [221]:
table

           name  age
0          lijh   24
1        lanmei   25
2  wangxiaoyuan   25

In [222]:
table.loc[[True, False, True]]

           name  age
0          lijh   24
2  wangxiaoyuan   25

In [223]:
table['age'] == 25

0    False
1     True
2     True
Name: age, dtype: bool

In [224]:
table.loc[table['age'] == 24]['name'].tolist()[0]

'lijh'

In [225]:
table.at[0, 'age'] = 666

In [226]:
table

           name  age
0          lijh  666
1        lanmei   25
2  wangxiaoyuan   25

In [231]:
[i for i in range(2)]

[0, 1, 2, 3, 4]

In [233]:
type()

generator

In [235]:
a, b = (i for i in range(2))

In [236]:
a, b

(0, 1)

In [240]:
nums = tuple((i for i in range(2)))

In [241]:
nums[1]

1

In [243]:
a, b = [1, 2]

In [244]:
a, b

(1, 2)

In [245]:
type(1)

int